.chart_stats_container {
	margin: 16px 8px;
	text-align: center;

	.chart_stats_item {
		display: inline-block;
	}
}

.chart_graph_container {
	height: 250px;
}

.chart_title {
	padding-top: 8px;
}

.test {
	width: 90%;
	margin: 50px auto;
}
