.general-dashboard {
	width: 100%;
	height: 100%;
	padding: 16px;

	.general-dashboard_wallet,
	.general-dashboard_history,
	.general-dashboard_chart {
		padding-left: 20px;
		padding-right: 20px;

		align-self: center;
	}
}
