//fond de page image
.back {
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.icone {
	margin-top: 10px;
	height: 50px;
	width: 50px;
	background-image: url(../image/contour.png);
	background-size: cover;
}

.ecocoin {
	font-family: fantasy;
	font-size: large;
}

//fond connexion / creation /...
.form {
	width: 400px;
	padding: 2%;
	background-color: #cfcfcf;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

//centrer
.center {
	display: flex;
	justify-content: center;
	text-align: center;
}

//lien vers "mot de passe oublie
.link_fp {
	color: #6a8aa6;
	opacity: 80%;
	margin-left: 10%;
}

.text_color_main {
	color: #0f384a;
}

.text_color_link {
	color: #6a8aa6;
}

.error {
	color: #D8000C;
	background-color: #FFD2D2;
}
